<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
<h1>Posts</h1>
<ol class = "post-list">
    <% results.forEach(function(post) {%>  
        <li>
            <img class = "post-profile-image" src = "<%= post.postedBy.profileImageUrl %>">
            <a class = "post-user-name" href = "/users/<%= post.postedBy.id %>/"><%= post.postedBy.name %></a>
            <br />
            <p class = "post-date"><%= post.createdAt %></p>
            <br />
            <%= post.message %>
            <br />
            <img class = "post-image" src = "<%= post.imageUrl %>">
            <br />
            <a href = "/posts/:<%= post.id %>/like/">Like</a>
            <a href = "/posts/:<%= post.id %>/dislike/">Dislike</a>
        </li>
    <% }); %>
</ol>
<%if (next) { %>
    <a href="<%= next %>">Next</a>
<% } %>
<%if (previous) { %>
    <a href="<%= previous %>">Previous</a>
<% } %>
<br />
<a href = "/posts/create/">Create Post</a>
</body>
<%- include('_footer') -%>
</html>