<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
<h1>Posts</h1>
<ol class = "post-list">
    <% results.forEach(function(post) {%>
           
        <li>
            <a href = "/users/<%= post.postedBy.id %>/"><%= post.postedBy.name %></a>
            <br />
            <%= post.createdAt %>
            <br />
            <%= post.message %>
            <br />
            <%= post.likedBy.name %>
            <br />
            <img src = "<%= post.imageUrl %>" width = "150" height = "150">
            <br />
            <a href = "/posts/:<%= post.id %>/like/">Like</a>
            <a href = "/posts/:<%= post.id %>/dislike/">Dislike</a>
        </li>
    <% }); %>
</ol>
<%if (next) { %>
    <a href="<%= next %>">Next</a>
<% } %>
<%if (previous) { %>
    <a href="<%= previous %>">Previous</a>
<% } %>
<br />
<a href = "/posts/create/">Create Post</a>
</body>
<%- include('_footer') -%>
</html>