<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
<h1>Users</h1>
<ol class = "user-list">
    <% results.forEach(function(user) {%>
        <li>
            <img class = "users-cover-image" src = "<%= user.coverImageUrl %>">
            <br />
            <a class = "users-user-name" href = "/users/<%= user.id %>/"><%= user.name %></a>
            <br />
            @<%= user.username %>
            <br />
            <img class = "users-profile-image" src = "<%= user.profileImageUrl %>" width = "200" height = "200">
        </li>
    <% }); %>
</ol>
<%if (next) { %>
    <a href="<%= next %>">Next</a>
<% } %>
<%if (previous) { %>
    <a href="<%= previous %>">Previous</a>
<% } %>
<br />
<a href = "/users/create/">Create User</a>
</body>
<%- include('_footer') -%>
</html>