<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
<h1>Users</h1>
<ol>
    <% results.forEach(function(user) {%>
        <li>
            <%= user.name %>
            <br />
            <a href = "/users/<%= user.id %>/"><%= user.username %></a>
            <br />
            <img src = "<%= user.profileImageUrl %>" width = "200" height = "200">
        </li>
    <% }); %>
</ol>
<%if (next) { %>
    <a href="<%= next %>">Next</a>
<% } %>
<%if (previous) { %>
    <a href="<%= previous %>">Previous</a>
<% } %>
<br />
<a href = "/users/create/">Create User</a>
</body>
<%- include('_footer') -%>
</html>